#lobby-userlist-user-wndo, #staff-userlist-user-wndo, #wifi-userlist-user-wndo, #luxmusic-userlist-user-wndo, #theunityleague-userlist-user-wndo, #gamescorner-userlist-user-wndo, #roleplaying-userlist-user-wndo, #thegenesisleague-userlist-user-wndo, #thefadedleague-userlist-user-wndo, #adl-userlist-user-wndo {
    background:url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat right
}    
#lobby-userlist-user-alonelysquirtle {
    background:url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat right
}    
#lobby-userlist-user-opvictreebel {
    background:url("http://pokedream.com/pokedex/images/mini/071.gif") no-repeat right
}
#lobby-userlist-user-apologetics {
    background:url("http://pokedream.com/pokedex/images/mini/127.gif") no-repeat right
}
#lobby-userlist-user-kokonoesan, #staff-userlist-user-kokonoesan, #wifi-userlist-user-kokonoesan, #luxmusic-userlist-user-kokonoesan, #theunityleague-userlist-user-kokonoesan, #gamescorner-userlist-user-kokonoesan, #roleplaying-userlist-user-kokonoesan, #thegenesisleague-userlist-user-kokonoesan, #thefadedleague-userlist-user-kokonoesan, #adl-userlist-user-kokonoesan {
    background:url("http://orig12.deviantart.net/c0ef/f/2015/254/d/d/mega_ampharos_icon_by_commander_f-d995ws4.gif") no-repeat right
}    
#lobby-userlist-user-bradderstheepic, #theunityleague-userlist-user-unityelitebrad, #roleplaying-userlist-user-unityelitebrad {
    background:url("http://pokedream.com/pokedex/images/mini/212.gif") no-repeat right
}    
#lobby-userlist-user-lmaoitsbt, #shadowbanroom-userlist-user-lmaoitsbt, #staff-userlist-user-lmaoitsbt {
    background:url("http://pldh.net/media/pokecons_action/385.gif") no-repeat right
}    
#lobby-userlist-user-youngfabio, #staff-userlist-user-youngfabio, #wifi-userlist-user-youngfabio, #luxmusic-userlist-user-youngfabio, #smashbros-userlist-user-youngfabio, #gamescorner-userlist-user-youngfabio, #roleplaying-userlist-user-youngfabio, #thegenesisleaguee-userlist-user-youngfabio, #theunityleague-userlist-user-youngfabio, #thefadedleague-userlist-user-youngfabio, #adl-userlist-user-youngfabio {
    background:url("http://pokedream.com/pokedex/images/mini/179.gif") no-repeat right
}    
body {
    background: url(http://pre03.deviantart.net/6462/th/pre/f/2013/021/b/3/darkrai_used_dark_void_by_absolotad-d5sa71f.jpg) no-repeat;
    background-color: #A9ABBD;
  }

.header .logo {
    float: left;
    margin: 8px 0px 0px -148px;
    padding-right: 200px;
    padding-bottom: 5px;
  }

.header{
    background:#330031 url("http://i.imgur.com/tifgwC9.png") no-repeat;
}

.nightclub {
	background:#000000;
	margin:-3px
}

.userlist{
    background:#330031;
    border-color: maroon;
    color: maroon;
}

.chat-log {
    color: white;
    background: #000000 url("http://vignette2.wikia.nocookie.net/pokemon/images/a/a5/181Ampharos_Mega_Dream.png/revision/latest?cb=20140311082150") top right no-repeat;
    border-bottom: 3px solid maroon;
    border-left: 3px solid maroon;
}

.pm-log{
    background:#330031;
    color: white;
}

.pm-window h3{
    background: #330031 url("http://pldh.net/media/pokecons_action/179.gif") bottom right no-repeat;
    background-position: 200px;
    color:#ffffff;
}

.pm-window h3:hover {
    color:#ffffff;
    background: #000000 ;
  }

.pm-window.focused h3, .pm-window.focused h3:hover {
	background: black url("http://pldh.net/media/pokecons_action/179.gif") bottom right no-repeat;
    background-position: 200px;
	color:#ffffff;
}

.pm-log-add{
    background:#330031 ;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
    background: #330031;
      border-color: maroon;
    color: #fff;
  }

.tabbar a.button {
    background:#000000;
    color:#fff;
    border-color:maroon;
}

.maintabbarbottom {
    background: #000000;
    border-color:maroon;
  }

.teamlist{
    background:#330031;
}

.pad{
    background:#330031;
}

.team{
    background:black;
    color:#ffffff;
}

.teamchart{
    background:#330031;
}

.teamchart, .teamchart li{
    background:#330031;
}

.battle-log{
    background:#330031;
}

.ps-room{
     background:url("http://pre03.deviantart.net/6462/th/pre/f/2013/021/b/3/darkrai_used_dark_void_by_absolotad-d5sa71f.jpg");
}

.ps-room.ps-room-opaque{
    background:url("http://pre03.deviantart.net/6462/th/pre/f/2013/021/b/3/darkrai_used_dark_void_by_absolotad-d5sa71f.jpg");
}

.ps-room .battle-controls{
    background:#330031;
}

.battle-log h2{
    background:black;
    color:#ffffff;
}

.ps-room .battle-log-add{
    background:#330031;
}

.rightbar, .leftbar{
    background:#330031;
    color:white;
}

.ps-popup{
    background:#330031;
    color: maroon;
}

 .backdrop:before{
    display: block;
    background: url("http://orig10.deviantart.net/5d2f/f/2014/293/4/5/pokemon_x_and_y_battle_background_electric_terrain_by_phoenixoflight92-d83l7ou.png");
    background-size: cover;
  }
  
 .chat-log-add{
  	background:#330031;
  }
  


.mainmenufooter a {
    color: maroon;
    text-shadow: 0px 0px 1px #474747, 0px 0px 1px #474747, 0px 0px 1px #474747;
}

.mainmenufooter a:hover {
    color: #ffffff;
}

.menugroup .button {
    background: #330031;
        box-sizing: border-box;
    font-size: 10pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    display: inline-block;
    padding: 5px 7px 3px;
    width: 200px;
    outline: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(255, 255, 255, 0.8) inset;
    color: maroon;
    border: 3px solid #474747;
}
  
.menugroup button.big {
    font-size: 12pt;
    color: white;
  }
  
.menugroup .button:hover {
    background: #330031;
    color: white;
  }
